<footer style="background-color:#502C87;">

    <div class="container text-center white p-3">
        
        <h3>Powered by MEAN stack</h3>
        <p>MongoDB Express Angular NodeJs</p>
        <!-- <div class="container">
            <div class="row">
                <div class="col-sm-6 bg-success">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    <br>
                </div>
                <div class="col-sm-6 bg-warning">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo inventore veritatis et quasi architecto.
                </div>
            </div>
        </div> -->
    </div>
</footer>

<!-- background-color:#593196; -->