<!-- <div class="container p3">
  <button type="button" (click)="checkLogin()" class="btn btn-primary">Check</button>
</div> -->

<div class="container pt-2">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">User profile
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
              display:block; margin:auto;" src="http://robohash.org/sitsequiquia.png?size=120x120">
              <div class="p-2">
                <label class="btn btn-primary p-2">
                  Change Picture
                  <input type="file" style="display: none;">
                </label>
              </div>
            </div>

            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="">Username: {{ myUsername }}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email: {{ myEmail }}</span>
                  <br>
                  <span class="text-muted">Password: {{ myPassword }}</span>

                  <small class="text-muted">Created: {{ accountCreated }}</small>
                </div>
                <!-- Have countdown of total notes and Todos uploaded by the user -->
                <!-- <div class="col-md-6">
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-comment text-muted"></i> 500
                  </div>
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-thumbs-up text-muted"></i> 1500
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
              <button class="btn btn-default pull-right" data-toggle="modal" data-target="#editUserDataModal">
                <i class="glyphicon glyphicon-pencil"></i> Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal></app-modal>

<!-- <button type="button" id="myModal" [hidden]=true class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->
<div #editUserDataModal class="modal fade" data-keyboard="false" data-backdrop="static" id="editUserDataModal" tabindex="-1" role="dialog" aria-labelledby="editUserDataModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Session Finished</h5>
      </div>
      <div class="modal-body">
        <div class="">
          <h2>Edit you information</h2>

          <div class="p-3">
            <form (ngSubmit)="update(myUsername)" #userReLoginForm="ngForm">
              <div class="form-group">
                <label for="name">Username ? *</label>
                <input type="text" class="form-control" required [(ngModel)]="myUsername" name="myUsername" #username="ngModel">
                <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                  Username is required
                </div>
              </div>

              <!-- <div class="form-group">
                <label for="password">Password*</label>
                <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password" >
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                  Password is required
                </div>
              </div> -->


            </form>
            <!-- <h2 name="title">{{serverResponse}}</h2> -->

          </div>
        </div>

      </div>

      <div class="modal-footer">

        <!-- <button type="button" class="btn btn-secondary" (click)="signOut()" data-dismiss="modal">Log Out</button> -->
        <button type="submit" class="btn btn-success" data-dismiss="modal" [disabled]="!userReLoginForm.form.valid">Submit</button>

        <!-- <button type="button" class="btn btn-primary">Log In</button> -->
      </div>
    </div>
  </div>
</div>