<div class="container pt-3">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 p-2">
      <div class="text-center mb-2">
        <button type="button" class="btn btn-primary btn-lg" id="noteBtn" (click)="addNewNote()">+</button>
      </div>
      <ul class="list-group" style="border-radius: 0px;">
        <li class="list-group-item active" *ngFor="let hero of list2" (click)="loadNote(hero)">
          <span>{{hero.notesTitle}}</span>
          <span class="float-right">
            <a (click)="deleteNote(hero)">
              <i class="fas fa-times"></i>
            </a>
          </span>
        </li>
      </ul>

      <!-- <ul class="heroes">
        <li *ngFor="let hero of list">
          <span class="badge">{{hero.setup}}</span>
        </li>
      </ul> -->
    </div>
    <div *ngIf="myNotes.id ; else loading" class="col-12 col-md-6 col-lg-8 p-2">
      <div class="text-right mb-2">
        <button type="button" (click)="saveNote(myNotes)" class="btn btn-primary btn-lg" id="noteBtn">Save</button>
      </div>
      <div class="input-group mb-2" style="height: 43px;">
        <div class="input-group-prepend">
          <span class="input-group-text">Title</span>
        </div>
        <textarea class="form-control " [(ngModel)]="myNotes.notesTitle" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group textArea" style="height: 85%;">
        <div class="input-group-prepend">
          <span class="input-group-text">Your Note</span>
        </div>
        <textarea class="form-control " style="border-top-right-radius: 5px;" [(ngModel)]="myNotes.notesContent"
          aria-label="With textarea">
        </textarea>
      </div>
    </div>
    <ng-template #loading let-user>Click on the note to start to writing</ng-template>
  </div>
</div>

<app-modal></app-modal>