<div class="second-section">
  <div class="container text-center">
    <div>
      <h1>LET'S START NOTING</h1>
      <button type="button" class="btn btn-light">
        <a routerLink="/register">LAUNCH APP</a>
      </button>
    </div>
  </div>
</div>

<div class="third-section">
  <div class="container text-center">
    <div>
      <h1>Trial run</h1>
      <p>Want to use it without signning up</p>
      <p>Simple !</p>
      <p><b>Username</b>: testuser@angularapp.com</p>
      <p><b>Password</b>: testuser</p>
      <button type="button" class="btn btn-light">
        <a routerLink="/userLogin">Let me login</a>
      </button>
    </div>
  </div>
</div>