<div class="second-section">
  <div class="container text-center">
    <div>
      <h1>LET'S START NOTING</h1>
      <button type="button" class="btn btn-light">
        <a routerLink="/register">LAUNCH APP</a>
      </button>
    </div>
  </div>
</div>

<div class="third-section">
  <div class="container text-center">
    <div class="third-sectionDiv p-1">
      <h1 class="display-4">GIVE IT A TRIAL RUN</h1>
      <p>Want to use it without signning up</p>
      <!-- <p>Login with</p> -->
      <p><b>Username</b>: testuser@angularapp.com</p>
      <p><b>Password</b>: testuser</p>
      <p><b>IMPORTANT</b>: Avoid typing any confidential information as a test user, since <b>testuser notes</b> will be wiped every midnight automatically</p>
      <button type="button" class="btn btn-light">
        <a routerLink="/userLogin">Log In</a>
      </button>
    </div>
  </div>
</div>