a{
    text-decoration-line: none;
}

.btn-light:hover{
    cursor:pointer;
    -webkit-box-shadow:0 5px 15px 0 rgba(0,0,0,0.2),
    0 2px 4px 0 rgba(0,0,0,0.24);
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0,0,0,0.24);
}